:root {
  --corbotaoquantidade: #cbcecf;
  --corbotaoquantidadehover: #aeb1b2;
  --corfontebotaoquantidade: black;
  --corbordacampoquantidade: #ccc;
}

.botoesquantidade {
  display: flex;
  align-items: center;
}
.botoesquantidade a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: var(--corbotaoquantidade);
  /* border: 1px solid #cbcecf; */
  border-radius: 4px;
  /* font-size: 12px; */
  font-weight: bold;
  /* line-height: 20px; */
  color: var(--corfontebotaoquantidade);
  text-decoration: none;
  margin: 0 5px;
  cursor: pointer;
}

.botoesquantidade a:hover {
  background-color: var(--corbotaoquantidadehover);
  transition: 0.4s;
}

.botoesquantidade input {
  width: 50px;
  height: 20px;
  font-size: 14px;
  padding: 2px 5px;
  border: 1px solid var(--corbordacampoquantidade);
  border-radius: 3px;
  text-align: center;
}

/* explicação no w3schools -https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
.botoesquantidade input[type=number]::-webkit-inner-spin-button,
.botoesquantidade input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.botoesquantidade input[type=number] {
  -moz-appearance: textfield;
}