@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Gravitas+One&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  /* --botoesmenu: #fef445; */
  --roboto: "Roboto", sans-serif;
  --gravitasone: "Gravitas One", cursive;
  --fontemain: var(--roboto);
  --botoesmenu: #e0df53;
  --corfundovalortotal: #f1f7ff;
  --corbotaoquantidade: #cbcecf;
  --corbotaoquantidadehover: #aeb1b2;
  --corfontebotaoquantidade: black;
  --corbordacampoquantidade: #ccc;
  --corfontelabelfretecupom: #6b6b6b;
  --corbotaofretecupom: #69b1e0;
  --corbotaofretecupomhover: #277eb6;
  /* --corbotaocompra: #376F94; */
  --corbotaocompra: #69b1e0;
  --corbotaocomprahover: #277eb6;
  --fontesizeh1: 2.5rem;
  --fontesizeh2: 1.5rem;
  --fontesizeh3: 1.2rem;
  --fontelabelfretecupom: 0.9rem;
}

/* Elementos com o ID "titulo" */
#titulo {
  display: flex;
  margin-top: 1%;
  justify-content: center;
  align-items: center;
  color: #030303;
  font-size: 35px;
  font-family: var(--fontemain);
  /* margin-left: 36%;*/
}

.imgDoar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  margin: 15px auto;
  max-width: 600px;
}

/*Inicio css fieldset*/

/* Elementos de tag <fieldset> global do formulario*/
fieldset.fdoar {
  display: block;
  position: center;
  margin: 10px auto;
  max-width: 600px;
  /*border-radius: 10px;
  /*box-shadow: 0px 2px 5px 0px #030303;*/
  border: 0;
}

fieldset.fdoar p {
  text-align: justify;
}

/*Final css fieldset*/
