* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Dancing Script", cursive;
  font-family: "Poppins", sans-serif;
}

/* Elementos com o ID "titulo" */
#titulo {
  display: flex;
  margin-top: 1%;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script", cursive;
  color: #030303;
  font-size: 35px;
  /* margin-left: 36%;*/
}

/* Elementos com o ID "subtitulo" */
#subtitulo {
  display: flex;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #030303;
  font-size: 15px;
}

/* Elementos de tag <fieldset> <form> do formulario*/
fieldset.global form {
  display: block;
  margin-left: 3%;
}

/* Elementos de tag <fieldset> global do formulario*/
fieldset.global {
  display: flexbox;
  position: center;
  margin: 20px auto;
  /*background-color: #6b6b6b;*/
  max-width: 800px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border: 0;
  margin-bottom: 20px;
}

.whatsapp {
  position: fixed;
  right: 40px;
  bottom: 40px;
}

.whatsapp img {
  width: 40px;
}
.whatsapp img:hover {
  width: 45px;
}

.form {
  padding: 0 40px;
}
.form-control {
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  color: #030303;
}

.form-control input {
  border: 1px solid #3e445b;
  border-radius: 5px;
  outline: 0;

  display: block;

  font-size: 14px;

  width: 100%;
  padding: 10px;
  height: 40px;
}

.form-control-inline {
  width: 100%;
  display: flex;
  height: 40px;
}

.grptipoflex span {
  margin-left: 10px;
}

.grptipoflex label {
  padding: 3px;
}

.grptipoflex {
  width: 50%;
}

.grpconservflex {
  margin: 0 25%;
}

.form-control.success input {
  border: 3px solid #4eca64;
}
.form-control.error input {
  border: 3px solid #db5a5a;
}

.form-control.error i.img-error {
  visibility: visible;
}

.form-control.success i.img-success {
  visibility: visible;
}

.form-control.error small {
  color: #db5a5a;
  visibility: visible;
}

.form-control i {
  position: absolute;
  top: 33px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  margin-top: 5px;
  font-size: 14px;
}
.form button {
  background-color: #69b1e1;
  border-radius: 5px;
  color: #fff;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  width: 100%;

  margin-top: 10px;
  margin-bottom: 20px;

  cursor: pointer;
}

.form button:hover {
  background-color: #584ff5;
  transition: 0.3s;
}

dialog {
  background-color: #fff;
  border: none;
  padding: 20px;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 42%;
}

dialog button {
  background-color: #69b1e1;
  color: #fff;
  transition: 0.3s;
  border: none;
  border-radius: 0.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 8px;
}
