* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Dancing Script", cursive;
  font-family: "Poppins", sans-serif;
}

/* Elementos com o ID "titulo" */
#titulo {
  display: flex;
  margin-top: 1%;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script", cursive;
  color: #030303;
  font-size: 35px;
  /* margin-left: 36%;*/
}

/* Elementos com o ID "subtitulo" */
#subtitulo {
  display: flex;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #030303;
  font-size: 15px;
}

/* Elementos de tags <body>, <input>, <Select>, <button> <label>*/
input,
select,
label,
button {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #030303;
  border-radius: 5px;
}

/* Elementos de classe "campo" */
.campo {
  margin-bottom: 8px;
  border-radius: 15px;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
  margin-bottom: 0.1em;
  color: #030303;
  display: block;
}

/*Inicio css fieldset*/

/* Elementos de tag <fieldset> <form> do formulario*/
fieldset.global form {
  display: block;
  margin-left: 3%;
}

/* Elementos de tag <fieldset> global do formulario*/
fieldset.global {
  display: block;
  position: center;
  margin: 20px auto;
  /*background-color: #6b6b6b;*/
  max-width: 600px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* Elementos de fieldset grupos */
fieldset.grpnome {
  display: inline;
  border: 0;
  padding: 2px;
  margin: 0;
}

fieldset.grpTelQtde {
  display: flex;
  border: 0;
  padding: 2px;
  margin: 0;
}
fieldset.grpemail {
  display: flex;
  border: 0;
  padding: 2px;
  margin: 0;
}

fieldset.grptipo {
  display: inline;
  float: left;
  border: 0;
  padding: 2px;
}
fieldset.grpconserv {
  display: inline;
  position: relative; /*adicionando o grupo5 mais para a direita para alinhamento*/
  float: none;
  width: 100px;
  height: 70px;
  left: 210px; /*adicionando o grupo5 mais para a direita para alinhamento*/
  border: 0;
  padding: 2px;
}

fieldset.grpAutEdiTitulo {
  display: inline;
  border: 0;
  padding: 2px;
  margin: 0;
}
fieldset.grpimgconserv {
  display: flex;
  border: 0;
  padding: 2px;
  margin: 0;
}
fieldset.fbotao {
  display: flex;
  border: 0;
  padding: 2px;
  margin: 0;
}
/*Final css fieldset*/

/*inicio inputs*/
.grpnome input {
  width: 550px;
}

.grpTelQtde input {
  width: 265px;
  float: left;
  margin-right: 1em;
}

.grpemail input {
  width: 550px;
}

.grptipo option {
  float: left;
  margin-right: 100em;
}

.grpAutEdiTitulo input {
  width: 550px;
}
/*final inputs*/

/* Elementos de classe "campo" das tags <input> com atributo, adicionando configuração*/
.campo input[type="text"],
.campo input[type="email"],
.campo input[type="tel"],
.campo input[type="number"],
.campo input[type="file"],
.campo button[type="submit"] .campo select,
.campo textarea {
  padding: 0.2em;
  border: 1px solid #030303;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* Elementos de classe "campo" de tag <select> e <option>*/
.campo select option {
  padding-right: 1em;
}

/* Elemento de classe "campo" com tag <input>, <select> <button> tocas com estado da pseudoclasse "focus"*/
.campo input:focus,
.campo select:focus,
.campo button:focus {
  background: #cae2f1;
}

/* Elemento de classe "botao" */
.botao {
  font-size: 1.2em;
  background: #69b1e1;
  border: 0;
  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
  background: #034672;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao,
select {
  cursor: pointer;
}
