* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Dancing Script", cursive;
  font-family: "Poppins", sans-serif;
}

/* Elementos com o ID "titulo" */
#titulo {
  display: flex;
  margin-top: 1%;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script", cursive;
  color: #030303;
  font-size: 35px;
  /* margin-left: 36%;*/
}

/* Elementos com o ID "subtitulo" */
#subtitulo {
  display: flex;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #030303;
  font-size: 15px;
}

/* Elementos de tag <fieldset> <form> do formulario*/
fieldset.global form {
  display: block;
}

/* Elementos de tag <fieldset> global do formulario*/
fieldset.global {
  display: flexbox;
  position: center;
  margin: 20px auto;
  /*background-color: #6b6b6b;*/
  max-width: 800px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border: 0;
  margin-bottom: 20px;
}

.whatsapp {
  position: fixed;
  right: 40px;
  bottom: 40px;
}

.whatsapp img {
  width: 40px;
}

.whatsapp img:hover {
  width: 45px;
}

.form {
  padding: 0 60px;
}

.form-control {
  padding-bottom: 25px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  color: #030303;
}

.form-control input {
  border: 1px solid #3e445b;
  border-radius: 5px;
  outline: 0;

  display: block;

  font-size: 14px;

  width: 100%;
  padding: 10px;
  height: 40px;
}

/* ==================== INÍCIO estilização e javascript do RADIO e do SELECT ======================= */

.form-control-inline {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
}

.grptipoflex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 245px;
  height: 23px;
  border-radius: 3px;
  gap: 10px;
  padding: 10px 0 0 0;
}

.grptipoflex input {
  margin-right: 3px;
  vertical-align: middle;
}

.grpconservflex {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 140px;
  height: 50px;
}

/* estilização do select */
#conserv {
  height: 20px;
  width: 100px;
}

.caixa-conservacao {
  display: block;
  position: relative;
  /* border: 3px solid #4eca64; */
  /* border: 3px solid #db5a5a; */
  width: 150px;
  height: 55px;
  margin-left: 180px;
  border-radius: 5px;
}

.conservacao-img-success {
  display: none;
  position: absolute;
  right: 10px;
  top: 14px;
}

.conservacao-img-error {
  display: none;
  position: absolute;
  right: 11px;
  top: 14px;
}

.conservacao-msg-error {
  display: none;
  position: absolute;
  font-size: 14px;
  left: -3px;
  bottom: -19px;
}

.caixa-tipos {
  display: block;
  position: relative;
  width: 245px;
  height: 40px;
  /* border: 3px solid #4eca64; */
  /* border: 3px solid #db5a5a; */
  border-radius: 5px;
}

.tipos-img-success {
  display: none;
  position: absolute;
  top: 7px;
  right: 10px;
}

.tipos-img-error {
  display: none;
  position: absolute;
  top: 7px;
  right: 11px;
}

.tipos-msg-error {
  display: none;
  position: absolute;
  font-size: 14px;
  left: -3px;
  bottom: -19px;
}

/* ==================== FIM estilização do RADIO e do SELECT ======================= */

.form-control.success input {
  border: 3px solid #4eca64;
}
.form-control.error input {
  border: 3px solid #db5a5a;
}

.form-control.error i.img-error {
  visibility: visible;
}

.form-control.success i.img-success {
  visibility: visible;
}

.form-control.error small {
  color: #db5a5a;
  visibility: visible;
}

.form-control i {
  position: absolute;
  top: 33px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  /* margin-top: 5px; */
  font-size: 14px;
}
.form button {
  background-color: #69b1e1;
  border-radius: 5px;
  color: #fff;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  width: 100%;

  margin-top: 10px;
  margin-bottom: 20px;

  cursor: pointer;
}

.form button:hover {
  background-color: #584ff5;
  transition: 0.3s;
}

#fundotransparente {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
  z-index: 9999; /* Z-index alto sobrepõe os outros elementos */
  display: none;
}

/* pra mostrar o botão, caso queira estilizar, basta retirar o . ".dialog" */
.dialog {
  display: block;
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 4px;
  border: none;
  width: 300px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#botao-dialog {
  display: none;
  background-color: #69b1e1;
  color: #fff;
  transition: 0.3s;
  border: none;
  border-radius: 0.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 8px;
}
