@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Gravitas+One&family=Open+Sans&family=Roboto:ital,wght@0,400;1,500&display=swap');
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/* PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPALPRINCIPAL */
  
main{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
    }
    main a{
        text-decoration: none;
        color: black;
         font-size: 1.5rem;
    }
h2{
    background-color: #E1D243;
    margin: 40px 0 0 50px;
    padding: 5px;
    border-radius: 1px;
    font-family: 'Fredoka', sans-serif;
    display: flex;
    justify-content: center;
    
}

section div ul{
        display: flex;
        flex-direction: column;
        background-color: #69B1E0;
        width: 500px;
        height: 370px;
        padding: 50px;
        margin: 0 0 30px 50px;
        justify-content: space-between;
        overflow: hidden;
        overflow-y: scroll;
    }

    
    main section div ul li{
        background-color: #E1D243;
        list-style-type: none;
        padding: 10px;  
        margin: 5px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
    }

    
/* slides slides slides slides slides slides slides slides slides slides slides  */    

section.slider{
    margin: 0 0 0 0;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
   
}

.slider-content{
    width: 400%;
    height: auto;
    margin: 35px 0 0 0;
    display: flex;

}

.slider-content input{
    display: none;
}

.slide-box{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

.slide-box img{
    width: 65%;
    
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin: 24% 0 0 0; 
    display: flex;
    justify-content:center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 3px solid white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
background-color: yellow;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #E1D243;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #E1D243;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #E1D243;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background-color: #E1D243;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -35%;
}

/*#radio3:checked ~ .primeiro{
    margin-left: -75%;
}

#radio4:checked ~ .primeiro{
    margin-left: -100%;
}
