@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Gravitas+One&family=Open+Sans&family=Roboto:ital,wght@0,400;1,500&display=swap');
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPALPRINCIPAL */
  
main{
        display: flex;
        justify-content: space-around;
        align-items: center;
      
        
    
    }
    main a{
        text-decoration: none;
        color: black;
         font-size: 1.5rem;
    }
h2{
    background-color: #E1D243;
    margin: 10px 0 0 0;
    padding: 5px;
    border-radius: 1px;
    font-family: 'Fredoka', sans-serif;
    display: flex;
    justify-content: center;
    
}

section div ul{
        display: flex;
        flex-direction: column;
        background-color: #69B1E0;
        width: 500px;
        height: 370px;
        padding: 50px;
        margin: auto;
        justify-content: space-between;
        overflow: hidden;
        overflow-y: scroll;
    }

    
    main section div ul li{
        background-color: #E1D243;
        list-style-type: none;
        padding: 10px;  
        margin: 5px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
    }

    
/* slides slides slides slides slides slides slides slides slides slides slides  */    

section.slider{
    margin:  0;
    height: 400px;
    width: 900px;    
    padding: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
   
}

.slider-content{
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: start;
    align-items: center;    

}

.slider-content input{
    display: none;
}

.slide-box{
    height: 400px;
    width: 900px;
    align-items: center;
     
}

.slide-box img{
    height: 400px;
    width: 900px;
    justify-content: start;
    align-items: center;
    
}

.nav-manual, .nav-auto{
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 18% 0 0 15%;
    
}

.nav-manual .manual-btn, .nav-auto div{
    border: 3px solid white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 15px;
}

.nav-manual .manual-btn:hover{
background-color: yellow;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #E1D243;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #E1D243;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #E1D243;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background-color: #E1D243;
}

#radio1:checked{
    margin-left: 0%;
}

*#radio2:checked ~ .primeiro{
    margin-left: -100%;
}

#radio3:checked ~ .primeiro{
    margin-left: -200%;
}

#radio4:checked ~ .primeiro{
    margin-left: -300%;
} 
