* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --roboto: "Roboto", sans-serif;
  --fontemain: var(--roboto);
  --tamanhofontefiltro: 0.9rem;
}

/* ======== configurações da página inteira ======== */

#main {
  margin: 0 auto;
  width: 1200px;
  padding: 0 50px;
  font-family: var(--fontemain);
}

#main h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* ======== caminho ======== */

.caminho {
  padding: 5px 0;
}

ul.breadcrumb {
  padding: 8px 16px;
  padding-left: 0; /* encosta na esquerda para alinhar com o título */
  list-style: none;
}

ul.breadcrumb li {display: inline;}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  /* content: "/\00a0"; */
  content: "❯";
}

ul.breadcrumb li a {color: #69b1e0;}

/*
  fim caminho
*/

/* ======== seções ======== */

.secoes {
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
}

/* ======== filtros ======== */

.filtros {
  width: 22%;
  height: 800px;
  padding: 10px;
  border: 5px solid #69b1e0;
  border-radius: 10px;
}

.filtrodepartamentos > ul,
.filtroeditora > ul,
.filtroautor > ul,
.filtroano > ul {
  overflow-y: scroll;
  height: 110px;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* ============= barra de rolagem personalizada ============= */

/* essa é a barra de rolagem */
.filtrodepartamentos > ul::-webkit-scrollbar,
.filtroeditora > ul::-webkit-scrollbar,
.filtroautor > ul::-webkit-scrollbar,
.filtroano > ul::-webkit-scrollbar {
  width: 6px;
}

/* essa é a pista */
.filtrodepartamentos > ul::-webkit-scrollbar-track,
.filtroeditora > ul::-webkit-scrollbar-track,
.filtroautor > ul::-webkit-scrollbar-track,
.filtroano > ul::-webkit-scrollbar-track {
  background-color: #f0efef;
}

/* essa é a barra */
.filtrodepartamentos > ul::-webkit-scrollbar-thumb,
.filtroeditora > ul::-webkit-scrollbar-thumb,
.filtroautor > ul::-webkit-scrollbar-thumb,
.filtroano > ul::-webkit-scrollbar-thumb {
  background-color: #cbcbca;
  border-radius: 10px;
}

/* ============= fim barra de rolagem personalizada ============= */

.filtros ul li {
  list-style: none;
}

.filtros ul li a {
  text-decoration: none;
  color: black;
  font-size: var(--tamanhofontefiltro);
}

.filtros ul li a:hover {
  text-decoration: underline 2px #69b1e0;
}

.filtros input[type="checkbox"] {
  all: unset;
  border: 1px solid black;
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle; 
}

.filtros input[type="checkbox"]:checked {
  background-color: #69b1e0;
}

/* ======== livros ======== */

.livros {
  width: 75%;
  height: auto;
  /* border: 1px solid salmon; */
}

/* maiores detalhes sobre o uso de grid - https://youtu.be/R_dqkhX7WbU */
.gridlivros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* unidade flexível que representa uma fração do espaço disponível no container .livros */
  grid-auto-rows: 460px; /* https://www.youtube.com/watch?v=R_dqkhX7WbU&t=780s */
  grid-auto-columns: 257px;
  gap: 6px;
}

.gridlivros > div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #69b1e0;
  background-color: #f1f7ff;
}

.livro {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
}

/*
.tagpromocao {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 75%;
}
*/

.livro .tagpromocao {
  position: relative;
  left: 0;
  top: 10%;
  width: 100%;
}

.livro .tagepub {
  position: relative;
  left: 0;
  top: 1%;
  width: 100%;
}

.livro .tagpromocao > img {
  position: absolute;
  width: 95px;
}

.livro .tagepub > img {
  position: absolute;
  width: 95px;
}

.livro .imagemlivroflex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  margin: 20px 0;
  /* border: 1px solid salmon; */
  background-color: white;
  border-radius: 10px;
}

.livro .imagemlivroflex > img {
  height: 90%;
}

.livro .titulolivroflex {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 70px;
  margin: 5px 0;
  padding: 5px;
}

.livro .titulolivroflex h4 {
  font-size: 0.9rem;
  text-align: justify; /* propriedade muito importante para melhorar o aspecto visual do título no corpo da div */
}

.livro .precoflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50px;
  /* padding-left: 10px; */
  margin: 5px 0 20px 0;
}

.livro .precoflex .precoanterior {
  text-decoration: line-through;
  font-size: small;
}

.livro .precoflex .precoatual {
  /* color: #F3CB45; */
  color: #997F2B; /* essa cor foi diagnosticada como constraste aprovado com ".gridlivros > div" */
  font-weight: bold;
}

.livro .precoflex .precoparcelado {
  font-size: small;
  color: #6B6B6B;
}

/* ========= botao de adicionar ========== */
/* 
  eu criei esse botão para o frete, mas desisti 
*/
.livros .custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 35px;
  width: 120px;
  background-color: #69b1e1;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 10px;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: none;
}

.livros .material-icons-outlined {
  font-size: 1.2rem;
}

.livros .custom-button:hover {
  background-color: #376F94;
}

.livros .custom-button:hover .material-icons-outlined {
  color: #F3CB45;
}

.livros .paginacaocentralizado {
  margin: 20px 0;
  text-align: center;
}

.livros .paginacao {
  display: inline-block;
}

.livros .paginacao a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.4s;
  /* border: 1px solid #ddd; */
  border: 1px solid #69b1e0;
  margin: 0 4px;
  border-radius: 10px;
}

.livros .paginacao a.active {
  background-color: #69b1e0;
  color: white;
  border: 1px solid #69b1e0;
}

/* .livros .paginacao a:hover:not(.active) {background-color: #ddd;} */
.livros .paginacao a:hover:not(.active) {background-color: #f1f7ff;}