* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --faixasdapagina: #69b1e1;
  --botoesmenu: #fef445;
  --corvalortotal: #e8f1fe;
  --corfontemenu: black;
  --corfontefooter: white;
  --corfontecupom: #6b6b6b;
  --fontesizeh1: 2rem;
  --fontesizeh2: 1.5rem;
  --fontesizeh3: 1.2rem;
  --fonttextocupom: 0.9rem;
}

body div.bordapagina {
border: 5px solid var(--faixasdapagina);
margin: 10px;
padding: 10px;
}

/* 
    acima estão as configurações da página inteira  
*/

header {
  margin-bottom: 10px;
}

header div.primeiraheader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  height: 100%;
}

header div img {
  border-radius: 40px;
  width: 50vw;
}

header div.buscador input {
  border-radius: 30px;
  width: 20vw;
  height: 50px;
  padding: 20px;
  font-size: 1.2rem;
}

header div.segundaheader nav {
  background-color: var(--faixasdapagina);
  height: 70px;
}

header div.segundaheader nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

header div.segundaheader nav ul li {
  padding: 15px 40px;
  border-radius: 8px;
  list-style-type: none;
  background-color: var(--botoesmenu);
}

header div.segundaheader nav ul li a {
  font-weight: bold;
  color: var(--corfontemenu);
  text-decoration: none;
}

header div.segundaheader nav ul li a:hover {
  color: #537b9d;
}

/* 
    o header termina aqui 
*/

/* 
    conteúdo principal começa aqui 
*/

section.main {
  margin: 0 auto;
  padding: 2% 20%;
  /* border: 1px solid salmon; */
  box-shadow: 0px 0px 45px -30px #6b6b6b;
}

section.main h1 {
  position: relative; /* relativo à main */
  top: 0; /* encostado no topo */
  margin-bottom: 10px;
  font-size: var(--fontesizeh1);
}

section.main div.carrinho h2 {
  font-size: var(--fontesizeh2);
  margin-bottom: 10px;
}

section.main div.carrinho h3 {
  font-size: var(--fontesizeh3);
}

section.main div.carrinho {
  margin: 20px 0;
}

section.main div.gridcarrinho {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 45px -30px #6b6b6b;
}

section.main div.gridcarrinho div.quantidadeprod {
  /* text-align: center; */
}

section.main div.gridcarrinho div.quantidadeprod p {
  margin: 5px 0;
}

section.main div.gridcarrinho div.botoesquantidade {
  display: inline-flex;
  align-items: baseline;
  gap: 10px;
  border: 1px solid #cbcccd;
  border-radius: 4px;
}

section.main div.gridcarrinho div.botoesquantidade a {
  color: black;
  padding: 2px 15px;
  text-decoration: none;
  transition: background-color .3s;
  /* border: 1px solid #ddd; */
  font-size: 1.2rem;
  font-weight: bold;
}

section.main div.gridcarrinho div.botoesquantidade a:hover:not(.active) {
  background-color: #ddd;
}

.botoesquantidade span {
  position: relative;
  margin: 0 10px;
}

section.main div.descricaoproduto {
  display: flex;
  align-items: center;
}

section.main div.descricaoproduto img {
  position: relative;
  height: 120px;
}

section.main div.descricaotitulo {
  margin-left: 20px;
}

section.main div.descricaotitulo p {
  margin-top: 5px;
}

section.main div.complementocarrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  height: 80px;
  gap: 25%;
  /* border: 1px solid salmon; */
}

/* 

implementação achada no stackoverflow

div.complementocarrinho #quant {
  font-size: 20px;
  padding: 6px;
}

div.complementocarrinho #quant[type="number"]::-webkit-inner-spin-button { 
  all: unset; 
  min-width: 21px;
  min-height: 45px;
  margin: 17px;
  padding: 0px;
  transform: rotate(90deg) scale(0.8, 0.9);
  cursor:pointer;
} 
*/

section.main div.complementocarrinho a.cupom {
  text-decoration: none;
  color: var(--corfontecupom);
  font-size: var(--fonttextocupom);
}

section.main div.totalcarrinho {
  display: flex;
  flex-direction: column; /* lindo isso */
  align-items: flex-end; /* isso lindo */
}

section.main div.totalcarrinhoflex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--corvalortotal);
}

section.main div.totalcarrinhoflex .colunalabels p, .colunaprecos p {
  margin: 10px 0;
  font-size: 1.2rem;
}

section.main div#botaocomprar {
  margin-top: 5px;
}

/*
    o footer começa aqui 
*/

footer div.linhafooter {
  width: 100%;
  padding: 1px;
  background-color: var(--faixasdapagina);
  margin: 15px 0;
}

footer nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: white;
  height: 100%;
}

footer nav dl {
  display: block;
  background-color: var(--faixasdapagina);
  padding: 1vh 4vw;
  border-radius: 20px;
  height: 15vh;
}

footer nav dl dt, dd {
  color: var(--corfontefooter);
  padding: 0.6vh 0px;
}

footer nav dl dt {
  /* width: 100%; */
  font-weight: bold;
}

footer nav dl dd {
  text-align: left;
  font-size: 14px;
}

/* 
  responsividade
  https://youtu.be/pt1ztJcHoFQ?t=205 
*/

@media screen and (max-width: 1024px) {

  header div.buscador {
    margin: 0;
  }

  header div.buscador input {
    font-size: 0.6rem;
  }

  header div.segundaheader nav ul li {
    padding: 2vh;
  }

  footer nav dl {
    padding: 1vh 1vw;
  }

  footer nav dl dt, dd {
    font-size: 0.7rem;  
  }
}

@media screen and (max-width: 768px) {
  header div.segundaheader nav ul li {
    padding: 1vh;
  }
}