@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Gravitas+One&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

/* #66ADD9 #F2E744 #D9C043 #F2F2F2 #262626 */

/*
  tema escuro bem legal também
  #66ADD9
  #403501
  #D9C043
  #261D01
  #F2F2F2
*/

/*
Tríade - color.adobe.com
#69B1E1
#376F94
#E08180
#E0DF53
#94933E
*/

/*
fonte + background
fonte - #345D77
background - #E0DF53
*/

:root {
  /* --botoesmenu: #fef445; */
  --roboto: "Roboto", sans-serif;
  --gravitasone: 'Gravitas One', cursive;
  --fontemain: var(--roboto);
  --botoesmenu: #E0DF53;
  --corfundovalortotal: #f1f7ff;
  /* --corbotaoquantidade: #cbcecf; */
  --corbotaoquantidade: #69b1e0;
  /* --corbotaoquantidadehover: #aeb1b2; */
  --corbotaoquantidadehover: #277EB6;
  /* --corfontebotaoquantidade: black; */
  --corfontebotaoquantidade: white;
  /* --corbordacampoquantidade: #ccc; */
  --corbordacampoquantidade: #69b1e0;
  --corbordacampoquantidadefocus: #277EB6;
  --corfontelabelfretecupom: #6b6b6b;
  --corbotaofretecupom: #69b1e0;
  --corbotaofretecupomhover: #277EB6;
  /* --corbotaocompra: #376F94; */
  --corbotaocompra: #69b1e0;
  --corbotaocomprahover: #277EB6;
  --fontesizeh1: 2.5rem;
  --fontesizeh2: 1.5rem;
  --fontesizeh3: 1.2rem;
  --fontelabelfretecupom: 0.9rem;
}

/* 
    acima estão as configurações da página inteira  
*/

/* 
    conteúdo principal começa aqui 
*/

section.main {
  width: 1200px;
  margin: 0 auto;
  padding: 2% 50px;
  font-family: var(--fontemain);
  /* font-family: 'Times New Roman', Times, serif; */
}

section.main h1 {
  position: relative; /* relativo à main */
  top: 0; /* encostado no topo */
  margin-bottom: 10px;
  font-size: var(--fontesizeh1);
}

section.main div.carrinho h2 {
  font-size: var(--fontesizeh2);
  margin-bottom: 10px;
}

section.main div.carrinho h3 {
  font-size: var(--fontesizeh3);
}

section.main div.carrinho {
  margin: 20px 0;
}

section.main div.gridcarrinho {
  display: grid;
  grid-template-columns: 410px auto auto;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  padding: 10px 20px;
  border-radius: 10px;
  height: 150px;
  border: 1px solid #69b1e0;
  background-color: #f1f7ff;
  /* box-shadow: 0px 0px 45px -30px #6b6b6b; */
  /* box-shadow: 0 1px 2px rgba(0,0,0,.5); */
}

section.main div.gridcarrinho div.quantidadeproduto p {
  margin: 5px 0;
}

section.main div.gridcarrinho div.quantidadeproduto p a {
  text-decoration-line: none;
  color: #6b6b6b;
}

section.main div.gridcarrinho div.quantidadeproduto p a:hover {
  text-decoration-line: underline;
}

section.main div.gridcarrinho div.quantidadeproduto .botoesquantidade {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.main div.gridcarrinho div.quantidadeproduto .botoesquantidade a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: var(--corbotaoquantidade);
  /* border: 1px solid #cbcecf; */
  border-radius: 4px;
  /* font-size: 12px; */
  font-weight: bold;
  /* line-height: 20px; */
  color: var(--corfontebotaoquantidade);
  text-decoration: none;
  margin: 0 5px;
  cursor: pointer;
}

section.main div.gridcarrinho div.quantidadeproduto .botoesquantidade a:hover {
  background-color: var(--corbotaoquantidadehover);
  transition: 0.4s;
}

section.main div.gridcarrinho div.quantidadeproduto .botoesquantidade input {
  width: 50px;
  height: 30px;
  font-size: 14px;
  padding: 2px 5px;
  border: 1px solid var(--corbordacampoquantidade);
  border-radius: 10px;
  text-align: center;
  /* outline: 1px solid black; */
}

section.main div.gridcarrinho div.quantidadeproduto .botoesquantidade input:focus {
  border: 1px solid var(--corbordacampoquantidade);
  outline: 1px solid var(--corbordacampoquantidadefocus);
}

/* explicação no w3schools -https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
.botoesquantidade input[type=number]::-webkit-inner-spin-button,
.botoesquantidade input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 
investigar depois a mensagem 
"Também defina a propriedade padrão 'appearance' para compatibilidade"
*/
/* Firefox */
.botoesquantidade input[type=number] {
  -moz-appearance: textfield;
}

section.main div.gridcarrinho div.descricaoproduto {
  display: flex;
  align-items: center;
}

section.main div.gridcarrinho div.descricaoproduto img {
  height: 120px;
}

section.main div.gridcarrinho div.descricaotitulo {
  margin-left: 20px;
}

section.main div.gridcarrinho div.descricaotitulo p {
  margin-top: 5px;
}

section.main div.complementocarrinho {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 20px 0;
  height: 80px;
}

section.main div.complementocarrinho .frete {
  display: block;
}

section.main div.complementocarrinho .frete p {
  color: var(--corfontelabelfretecupom);
  font-size: var(--fontetextolabelfretecupom);
  margin-bottom: 5px;
}

section.main div.complementocarrinho .frete .campofrete {
  border-radius: 10px;
  width: 7vw;
  height: 35px;
  padding: 10px;
  font-size: 0.8rem;
  border: 1px solid #69b1e0;
}

section.main div.complementocarrinho .cupom {
  display: block;
}

section.main div.complementocarrinho .cupom p {
  color: var(--corfontelabelfretecupom);
  font-size: var(--fontetextolabelfretecupom);
  margin-bottom: 5px;
}

section.main div.complementocarrinho .cupom .campocupom {
  border-radius: 10px;
  width: 7vw;
  height: 35px;
  padding: 10px;
  font-size: 0.8rem;
  border: 1px solid #69b1e0;
}

/* remoção do sublinhado que destaca a borda do campo */
/* isso é chamado de outline de focus (:focus) */
section.main div.complementocarrinho div.frete input:focus,
section.main div.complementocarrinho div.cupom input:focus {
  outline: 2px solid #69b1e0;
}

.frete input[type=button],
.cupom input[type=button] {
  height: 35px;
  width: 80px;
  font-size: 0.8rem;
  /* background-color: #03A9F4; */
  background-color: var(--corbotaofretecupom);
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.frete input[type=button]:hover,
.cupom input[type=button]:hover {
  /* background-color: #1976D2; */
  background-color: var(--corbotaofretecupomhover);
  color: white;
  transition: 0.4s;
  
}

section.main div.totalcarrinho {
  display: flex;
  flex-direction: column; /* lindo isso */
  align-items: flex-end; /* isso lindo */
  gap: 40px;
  height: 100%;
  width: 100%;
}

section.main div.tabelatotalcarrinho {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #69b1e0;
  background-color: var(--corfundovalortotal);
}

section.main div.tabelatotalcarrinho .colunalabels p, 
section.main div.tabelatotalcarrinho .colunaprecos p {
  margin: 10px 0;
  font-size: 1.2rem;
}

section.main div.botaocomprar a {
  padding: 15px 25px; /* tamanho do botão */
  font-size: 1.2rem;
  border-radius: 10px;
  /* background-color: #2D9BF0; */
  /* background-color: #03A9F4; */
  background-color: var(--corbotaocompra);
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration-line: none;
}

section.main div.botaocomprar a:hover {
  /* background-color: #0f78c8; */
  /* background-color: #1976D2; */
  background-color: var(--corbotaocomprahover);
  transition-duration: 0.4s;
}

/*
  fim da main
*/

/* 
  responsividade
  https://youtu.be/pt1ztJcHoFQ?t=205 
*/

@media screen and (max-width: 1024px) {

  header div.buscador {
    margin: 0;
  }

  header div.buscador input {
    font-size: 0.6rem;
  }

  header div.segundaheader nav ul li {
    padding: 2vh;
  }

  footer nav dl {
    padding: 1vh 1vw;
  }

  footer nav dl dt, dd {
    font-size: 0.7rem;  
  }
}

@media screen and (max-width: 768px) {
  header div.segundaheader nav ul li {
    padding: 1vh;
  }
}