:root {
    --backgroundprimeiroheader: #F3CB45;
    --backgroundsegundoheader: #69b1e0;
    --corbotoesmenusegundoheader: #F3CB45;
    --cormenuusuario: #D5B022;
    --corfontepreçolivros: #997F2B; /* essa cor foi diagnosticada como constraste aprovado com ".gridlivros > div" */
    --corbalaocontadorcarrinho: #e08180;
    --corbackgroundfooter: #69b1e0;
    --corbackgroundcampodebuscaprimeiroheader: white;
    --corlinhaseparadoraprimeirosegundoheader: black;
    --corlinhaverticalnomeio: #69b1e0;
    --corbotãoacessarconta: #69b1e0;
    --corbotãoacessarcontahover: #277EB6;
    --corbotãocrieconta: #626465;
    --corbotãocriecontahover: #3f4244;
}