:root {
    --backgroundprimeiroheader: #F3CB45;
    --backgroundsegundoheader: #69b1e0;
    --corbotoesmenusegundoheader: #F3CB45;
    --cormenuusuario: #D5B022;
    --corfontepreçolivros: #997F2B; /* essa cor foi diagnosticada como constraste aprovado com ".gridlivros > div" */
    --corbalaocontadorcarrinho: #e08180;
    --corlightcoral: #ef767a;
    --corlightcoral: #f08080;
    --corpinklight: #d7907b;
    --corjasper: #db5a42;
    --corsalmonpink: #e5989b;
    --corbackgroundfooter: #69b1e0;
    --corbackgroundcampodebuscaprimeiroheader: white;
    --corlinhaseparadoraprimeirosegundoheader: black;
    --corlinhaverticalnomeio: #69b1e0;
    --corbotãoacessarconta: #69b1e0;
    --corbotãoacessarcontahover: #277EB6;
    --corbotãocrieconta: #626465;
    --corbotãocriecontahover: #3f4244;
    --corbarraderolagem: #ddd8b8;
    --corindianred: #e15554;
    --springgreen: #5CF27F;
    --persiangreen: #2f9c95;
    --mint: #40c9A2;
}