* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

:root {
  --roboto: "Roboto", sans-serif;
  --gravitasone: 'Gravitas One', cursive;
  --poppins: "Poppins", sans-serif;
  /* --fontemain: var(--roboto); */
  --fontemain: var(--poppins);
  --corbackground: #f1f7ff;
  --coramarela: #F3CB45;
  --corazul: #69b1e0;
  --corazulhover: #277EB6;
  --cordabarraderolagemcarrossel: #8b969e;
  /* --corcartaoamarelo: #fffcf4; */
  --corcartaoamarelo: #fffdf7;
  --corcartaoazul: #f8fcff;
  --corfontepreco: #997F2B;
  --fontesizepreco: 1.3rem;
  --fontesizeh1: 2.5rem;
  --fontesizeh2: 1.5rem;
  --fontesizeh3: 1.2rem
}

/* ===================== Configurações da página inteira ===================== */

/* main */

main {
  width: 1200px;
  margin: 0 auto;
  padding: 35px 50px 0 50px;
  font-family: var(--fontemain);
}

h1 {
  font-size: var(--fontesizeh1);
  margin-bottom: 20px;
}

/* =============== Apresentação =============== */

.apresentacao {
  width: 100%;
  height: 330px;
  margin-bottom: 20px;
  /* border: 1px solid chocolate; */
}

.apresentacao .titulocategorias {
  padding-bottom: 20px;
}

.apresentacao h2 {
  /* text-align: center; */
  font-size: var(--fontesizeh2);
}

.apresentacao .categorias {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.apresentacao .materiaisescrita,
.apresentacao .cadernos,
.apresentacao .bolsasmochilas,
.apresentacao .outrosmateriais {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 250px;
  width: 250px;
  /* border: 1px solid chocolate; */
}

.apresentacao .materiaisescrita p,
.apresentacao .cadernos p,
.apresentacao .bolsasmochilas p,
.apresentacao .outrosmateriais p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.overflowfit {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px 0;
}

.materiaisescrita img {
  position: absolute;
  width: 500px;
  top: -100px;
  right: -40px;
}

.bolsasmochilas img {
  position: absolute;
  width: 200px;
  top: -45px;
}

.cadernos img {
  position: absolute;
  display: block;
  width: 300px;
  top: 0;
  right: -10px;
}

.outrosmateriais img {
  position: absolute;
  display: block;
  width: 210px;
  bottom: 0;
  left: 0;
}

/* =============== Carrossel dinâmico =============== */

.carrosseldinamico {

}

.carrosseldinamico h3 {
  font-size: var(--fontesizeh3);
  margin-bottom: 20px;
}

/* ==== Materiais para Escrita ==== */

.carrosseldinamico .carrossel-materiaisparaescrita {
  display: flex;
  gap: 26px;
  width: auto;
  height: 340px;
  /* margin: 5px auto; */
  margin-bottom: 50px;
  overflow-x: hidden;
  padding: 0 11px; /* 11px para deixar os cartões alinhados */
  border-radius: 10px;
  /* border: 1px solid black; */
  background-color: var(--coramarela);
  /* opacity: 0.5; */
}

.carrosseldinamico .carrossel-materiaisparaescrita:hover {
  overflow-x: scroll;
  overflow-y: hidden;
}

.carrossel-materiaisparaescrita .cartao {
  flex: 0 0 auto; /* evitar que os cartões sejam redimensionados */
  height: 300px;
  width: 250px;
  margin: 20px 0 5px 0;
  border-radius: 10px;
  /* border: solid #F3CB45; */
  /* você pode definir o comprimento aqui ou no valor do auto */
  background-color: var(--corcartaoamarelo);
}

/* ==== Cadernos ==== */

.carrosseldinamico .carrossel-cadernos {
  display: flex;
  gap: 26px;
  width: auto;
  height: 340px;
  margin: 5px auto;
  margin-bottom: 50px;
  overflow-x: hidden;
  padding: 0 11px;
  border-radius: 10px;
  /* border: 1px solid black; */
  background-color: var(--corazul);
  /* opacity: 0.5; */
}

.carrosseldinamico .carrossel-cadernos:hover {
  overflow-x: scroll;
  overflow-y: hidden;
}

.carrossel-cadernos .cartao {
  flex: 0 0 auto; /* evitar que os cartões sejam redimensionados */
  height: 300px;
  width: 250px;
  margin: 20px 0 5px 0;
  border-radius: 10px;
  /* você pode definir o comprimento aqui ou no valor do auto */
  /* border: 2px solid blue; */
  background-color: var(--corcartaoazul);
}

/* ==== Bolsas e Mochilas ==== */

.carrosseldinamico .carrossel-bolsasmochilas {
  display: flex;
  gap: 26px;
  width: auto;
  height: 340px;
  margin: 5px auto;
  margin-bottom: 50px;
  overflow-x: hidden;
  padding: 0 11px;
  border-radius: 10px;
  /* border: 1px solid black; */
  background-color: var(--coramarela);
  /* opacity: 0.5; */
}

.carrosseldinamico .carrossel-bolsasmochilas:hover {
  overflow-x: scroll;
  overflow-y: hidden;
}

.carrossel-bolsasmochilas .cartao {
  flex: 0 0 auto; /* evitar que os cartões sejam redimensionados */
  display: flex;
  justify-content: center;
  height: 300px;
  width: 250px;
  margin: 20px 0 5px 0;
  border-radius: 10px;
  /* você pode definir o comprimento aqui ou no valor do auto */
  /* border: 2px solid blue; */
  /* background-color: #f1f7ff; */
  background-color: var(--corcartaoamarelo);
}

/* ==== Outros Materiais ==== */

.carrosseldinamico .carrossel-outrosmateriais {
  display: flex;
  gap: 26px;
  width: auto;
  height: 340px;
  margin: 5px auto;
  margin-bottom: 50px;
  overflow-x: hidden;
  padding: 0 11px;
  border-radius: 10px;
  /* border: 1px solid black; */
  background-color: var(--corazul);
  /* opacity: 0.5; */
}

.carrosseldinamico .carrossel-outrosmateriais:hover {
  overflow-x: scroll;
  overflow-y: hidden;
}

.carrossel-outrosmateriais .cartao {
  flex: 0 0 auto; /* evitar que os cartões sejam redimensionados */
  height: 300px;
  width: 250px;
  margin: 20px 0 5px 0;
  border-radius: 10px;
  /* você pode definir o comprimento aqui ou no valor do auto */
  /* border: 2px solid blue; */
  /* background-color: #f1f7ff; */
  background-color: var(--corcartaoazul);
}

/* ========== Cartão ========== */

/* inspiração: https://www.w3schools.com/css/css3_images.asp */

.cartao {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cartao .container img {
  margin: 0px 0 10px 0;
  height: 70%;
}

.cartao .container {
  position: relative;
  width: 100%;
  height: 100%;
}

.cartao .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .imagem é o container que mantem as dimensões da caixa do objeto imagem */
.cartao .container .imagemflex {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 180px;
  background-color: white;
}

/* essa class altera a opacidade da imagem */
.cartao .container .image {
  display: block;
  /* width: 100%; */
  /* height: auto; */
  transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
}

.cartao .botaosuspenso {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%);
  /* -ms-transform: translate(-50%) */
}

.cartao .container:hover .image {
  opacity: 0.3;
}

.cartao .container:hover .botaosuspenso {
  opacity: 1;
}

.cartao #textoazul {
  background-color: #69b1e0;
  color: white;
  font-size: 0.8rem;
  padding: 8px 45px;
  border-radius: 10px;
}

.cartao #textoamarelo {
  background-color: #F3CB45;
  color: white;
  font-size: 0.8rem;
  padding: 8px 45px;
  border-radius: 10px;
}

.cartao .container .descricao {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 60px;
  margin: 5px 0px;
  padding: 5px;
}

.descricao h4 {
  text-align: center;
  font-size: 0.9rem;
}

.cartao .container .preco {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 26px;
}

.preco p {
  font-size: var(--fontesizepreco);
  color: var(--corfontepreco);
  font-weight: bold;
}

/* ============= barra de rolagem personalizada ============= */
  
/* essa é a barra de rolagem */
.carrosseldinamico #escrita::-webkit-scrollbar,
.carrosseldinamico #escrita::-webkit-scrollbar,
.carrosseldinamico #escrita::-webkit-scrollbar,
.carrosseldinamico #cadernos::-webkit-scrollbar,
.carrosseldinamico #cadernos::-webkit-scrollbar,
.carrosseldinamico #cadernos::-webkit-scrollbar,
.carrosseldinamico #bolsas::-webkit-scrollbar,
.carrosseldinamico #bolsas::-webkit-scrollbar,
.carrosseldinamico #bolsas::-webkit-scrollbar,
.carrosseldinamico #outrosmateriais::-webkit-scrollbar,
.carrosseldinamico #outrosmateriais::-webkit-scrollbar,
.carrosseldinamico #outrosmateriais::-webkit-scrollbar {
  /* width: 4px; */
  height: 6px;
}
  
/* essa é a pista */
.carrosseldinamico #escrita::-webkit-scrollbar-track,
.carrosseldinamico #escrita::-webkit-scrollbar-track,
.carrosseldinamico #escrita::-webkit-scrollbar-track,
.carrosseldinamico #cadernos::-webkit-scrollbar-track,
.carrosseldinamico #cadernos::-webkit-scrollbar-track,
.carrosseldinamico #cadernos::-webkit-scrollbar-track,
.carrosseldinamico #bolsas::-webkit-scrollbar-track,
.carrosseldinamico #bolsas::-webkit-scrollbar-track,
.carrosseldinamico #bolsas::-webkit-scrollbar-track,
.carrosseldinamico #outrosmateriais::-webkit-scrollbar-track,
.carrosseldinamico #outrosmateriais::-webkit-scrollbar-track,
.carrosseldinamico #outrosmateriais::-webkit-scrollbar-track {
  display: none;
}
  
/* essa é a barra */
.carrosseldinamico #cadernos::-webkit-scrollbar-thumb,
.carrosseldinamico #cadernos::-webkit-scrollbar-thumb,
.carrosseldinamico #cadernos::-webkit-scrollbar-thumb,
.carrosseldinamico #outrosmateriais::-webkit-scrollbar-thumb,
.carrosseldinamico #outrosmateriais::-webkit-scrollbar-thumb,
.carrosseldinamico #outrosmateriais::-webkit-scrollbar-thumb,
.carrosseldinamico #escrita::-webkit-scrollbar-thumb,
.carrosseldinamico #escrita::-webkit-scrollbar-thumb,
.carrosseldinamico #escrita::-webkit-scrollbar-thumb,
.carrosseldinamico #bolsas::-webkit-scrollbar-thumb,
.carrosseldinamico #bolsas::-webkit-scrollbar-thumb,
.carrosseldinamico #bolsas::-webkit-scrollbar-thumb {
  /* background-color: #cbcbca; */
  /* background-color: #383C3F; */
  background-color: var(--cordabarraderolagemcarrossel);
  border-radius: 10px;
}

/* ============= fim barra de rolagem personalizada ============= */

/* =============== Carrossel fixo =============== */

.carrosselfixo {

}