* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

:root {
  --roboto: "Roboto", sans-serif;
  --gravitasone: 'Gravitas One', cursive;
  --fontemain: var(--roboto);
  --corbackground: #f1f7ff;
  --corbrancaoffwhite: #F3CB45;
  --corazul: #69b1e0;
  --corazulhover: #277EB6;
  --fontesizeh1: 2.5rem;
  --fontesizeh2: 1.5rem;
}

/* ===================== Configurações da página inteira ===================== */

/* main */

main {
  width: 1200px;
  margin: 0 auto;
  padding: 35px 50px;
  font-family: var(--fontemain);
}

h1 {
  font-size: var(--fontesizeh1);
  margin-bottom: 20px;
}

/* =============== Apresentação =============== */

.apresentacao {
  width: 100%;
  height: 350px;
  /* background-color: var(--corbrancaoffwhite); */
}

.apresentacao .titulocategorias {
  padding-bottom: 20px;
}

.apresentacao h2 {
  /* text-align: center; */
  font-size: var(--fontesizeh2);
}

.apresentacao .categorias {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.apresentacao .materiaisescrita,
.apresentacao .cadernos,
.apresentacao .bolsasmochilas,
.apresentacao .outrosmateriais {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 250px;
  width: 250px;
  /* border: 1px solid chocolate; */
}

.apresentacao .materiaisescrita p,
.apresentacao .cadernos p,
.apresentacao .bolsasmochilas p,
.apresentacao .outrosmateriais p {
  font-size: 1.2rem;
}

.overflowfit {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px 0;
}

.materiaisescrita img {
  position: absolute;
  width: 500px;
  top: -100px;
  right: -40px;
}

.bolsasmochilas img {
  position: absolute;
  width: 200px;
  top: -45px;
}

.cadernos img {
  position: absolute;
  display: block;
  width: 300px;
  top: 0;
  right: -10px;
}

.outrosmateriais img {
  position: absolute;
  display: block;
  width: 210px;
  bottom: 0;
  left: 0;
}

/* =============== Carrossel dinâmico =============== */

.carrosseldinamico {

}

.carrosseldinamico .carrossel-materiaisparaescrita {
  display: flex;
  gap: 26px;
  width: auto;
  height: 340px;
  margin: 5px auto;
  margin-bottom: 50px;
  overflow-x: hidden;
  padding: 0 10px;
  border-radius: 10px;
  /* border: 1px solid black; */
  background-color: var(--corbrancaoffwhite);
  /* opacity: 0.5; */
}

.carrosseldinamico .carrossel-materiaisparaescrita:hover {
  overflow-x: scroll;
  overflow-y: hidden;
}

.carrossel-materiaisparaescrita .cartao {
  flex: 0 0 auto; /* evitar que os cartões sejam redimensionados */
  height: 300px;
  width: 250px;
  margin: 20px 0 5px 0;
  border-radius: 10px;
  /* você pode definir o comprimento aqui ou no valor do auto */
  /* border: 2px solid blue; */
  background-color: #f1f7ff;
}

.carrosseldinamico .carrossel-cadernos {
  display: flex;
  gap: 26px;
  width: auto;
  height: 340px;
  margin: 5px auto;
  margin-bottom: 50px;
  overflow-x: hidden;
  padding: 0 10px;
  border-radius: 10px;
  /* border: 1px solid black; */
  background-color: var(--corazul);
  opacity: 0.5;
}

.carrosseldinamico .carrossel-cadernos:hover {
  overflow-x: scroll;
  overflow-y: hidden;
}

.carrossel-cadernos .cartao {
  flex: 0 0 auto; /* evitar que os cartões sejam redimensionados */
  height: 300px;
  width: 250px;
  margin: 20px 0 5px 0;
  border-radius: 10px;
  /* você pode definir o comprimento aqui ou no valor do auto */
  /* border: 2px solid blue; */
  background-color: #f1f7ff;
}

.carrosseldinamico .carrossel-bolsasmochilas {
  display: flex;
  gap: 26px;
  width: auto;
  height: 340px;
  margin: 5px auto;
  margin-bottom: 50px;
  overflow-x: hidden;
  padding: 0 10px;
  border-radius: 10px;
  /* border: 1px solid black; */
  background-color: var(--corbrancaoffwhite);
  opacity: 0.5;
}

.carrosseldinamico .carrossel-bolsasmochilas:hover {
  overflow-x: scroll;
  overflow-y: hidden;
}

.carrossel-bolsasmochilas .cartao {
  flex: 0 0 auto; /* evitar que os cartões sejam redimensionados */
  display: flex;
  justify-content: center;
  height: 300px;
  width: 250px;
  margin: 20px 0 5px 0;
  border-radius: 10px;
  /* você pode definir o comprimento aqui ou no valor do auto */
  /* border: 2px solid blue; */
  background-color: #f1f7ff;
}

/* ========== Cartão ========== */

.cartao {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 0;
}

.cartao .container img {
  padding: 20px 0 10px 0;
  width: 150px;
}

.cartao .container {
  position: relative;
  width: 100%;
  height: 185px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  /* border: 1px solid tomato; */
}

.cartao .container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.cartao .container .image {
  display: block;
  /* width: 100%; */
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
}

.cartao .botaosuspenso {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%);
  /* -ms-transform: translate(-50%) */
}

.cartao .container:hover .image {
  opacity: 0.3;
}

.cartao .container:hover .botaosuspenso {
  opacity: 1;
}

.cartao .text {
  background-color: #69b1e0;
  color: white;
  font-size: 0.8rem;
  padding: 8px 45px;
  border-radius: 10px;
}

.cartao .container .descricao {
  display: flex;
  justify-content: center;
  text-align: justify;
  font-weight: bold;
  width: 100%;
  padding: 15px 20px;
}

.cartao .container #preco {
  width: 100%;
}

.preco p {
  font-size: 1.5rem;
}

/* =============== Carrossel fixo =============== */

.carrosselfixo {

}