@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Gravitas+One&family=Open+Sans&family=Roboto:ital,wght@0,400;1,500&display=swap');
*{
    
    margin: 0;
    padding: 0;
}

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        
    }
    
    header img{
        max-width: 50%;
        max-height: 50%;
    }

    header input{
        width: 20%;
        height: 20%;
        margin: auto;
        margin-right: auto;
        margin-left: 10%;
        padding: 5px;
        border-color: black;
        border-radius: 20px;
    }
    
samp{
    text-decoration: none;    
    margin: auto;
    margin-right: 20px;
    margin-left: auto;
    background-color: #E1D243;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 200%;
    text-decoration: none;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
     
    }
    body header samp a{
        text-decoration: none;
        color: black;
    }

    nav{
        align-items: center;
        margin: auto;
        padding: 20px;
        background-color: #69B1E0
        

                    
    }

    ul{
        display: flex;
       justify-content: space-between;
    }

    nav ul li{
        list-style-type: none;
        background-color: #E1D243;
        padding: 18px;
        border-radius: 10px;
        font-family: 'Fredoka', sans-serif;
        font-size: 1em;

    }

    nav ul li:nth-child(3){
        width: 115px;

    } 

    nav ul li:nth-child(4){
        width: 113px;
    }

    

    nav ul li a{
        text-decoration: none;
        color: black;
        font-weight: bolder
        
    }

    nav ul li:nth-child(3) a{
        margin-left: 35px;
    }

    nav ul li:nth-child(4) a{
        margin-left: 5px;
    }

    div ul{
        display: block;
        background-color: aqua;

        margin: 20px 60% 20px 50px;
        padding: 50px;
       
       

    }

    


    footer nav {
        background-color: white;
        border-top: solid #12CDD4;
        border-width: 2px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: bolder;
        
          
    }

    footer dl{
        background-color: #69B1E0;
        justify-content: space-around;
        border-radius: 20px;
        height: 80px;
        width: 190px;
        padding: 25px 100px 25px 100px;
        
               
    }
     
    dt{
        width: max-content;
             
    }

    footer nav dl:nth-child(1) dt:nth-last-child(4){
        margin-left: 59px;
    }

    footer nav dl:nth-child(4) dt:nth-last-child(4){
        margin-left: 60px;
    }

    footer nav dl:nth-child(2) dt:nth-last-child(3){
        margin-left: 20px;
    }

    
    dd{
        
        width: max-content;
        margin-left: 38px;
    }


    dl:nth-child(1) dd:nth-last-child(1){
        margin-left: 63px;
    }

    dl:nth-child(1) dd:nth-last-child(2){
        margin-left: 45px;
    }

    dl:nth-child(2) dd:nth-last-child(2){
        margin-left: 49px;
    }

    dl:nth-child(2) dd:nth-last-child(1){
        margin-left: 35px;
    }

    dl:nth-child(3) dd:nth-last-child(2){
        margin-left: 20px;
    }

    dl:nth-child(3) dd:nth-last-child(1){
        margin-left: 18px;
    }

    dl:nth-child(4) dd:nth-last-child(3){
        margin-left: 28px;
    }

    dl:nth-child(4) dd:nth-last-child(2){
        margin-left: 50px;
    }

    dl:nth-child(4) dd:nth-last-child(1){
        margin-left: 50px;
    }

    nav dl dd a{
        text-decoration: none;
        color: white;
    }



    
    address{
        padding: auto;
        background-color: #12CDD4;       
    }