* {
  box-sizing: border-box;
}

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 35px;
  width: 80px;
  background-color: #69b1e1;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: none;
}

.material-icons-outlined {
  font-size: 1.2rem;
}

.custom-button:hover {
  background-color: #376F94;
}

.custom-button:hover .material-icons-outlined {
  color: #E0DF53;
}