.wp {
    position: fixed;
    right: 60px;
    bottom: 60px;
}

.wp img {
    width: 60px;
}

.altura {
    height: 800px;
    background-color: chocolate;
}

.altura2 {
    height: 800px;
    background-color: chartreuse;
}